// NAV

#nav-l{
    background-color: white;
    border-bottom: solid 3px $brandColor;
    padding-top: 1%;
    padding-left: 1%;
    height: 12%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    @media screen and (min-width: $mdWidth){
      padding-top:1%;
      height: 12%;
    }
    @media screen and (min-width: $lgWidth){
      padding-top:1%;
      height: 15%;
    }
}



#logo-l{
    float: left;
    width: 40%;
    @media screen and (min-width: $mdWidth){
        padding-left: 2%;
    }
    @media screen and (min-width: $lgWidth){
        padding-left: 13%;
    }
     img{
        float: left;
        margin-left: 1%;
        margin-top: 1%;
        width: 70%;

        @media screen and (min-width: $mdWidth){
        width: 70%;
        margin-left: 0px;
        margin-top: 1%;
        }

        @media screen and (min-width: $lgWidth){
        width: 65%;
        margin-left: 0px;
        margin-top: 0px;
        }
}
}

#navList-l{
    float: right;
    width: 50%;
    padding-top: 1%;
    ul{
        list-style: none;
        }
    li{
        display: inline-block;
        float: left;
        margin: 0 8px;
        font-family: $text;
    }
     a{
        color: $textColor;
    }
     @media screen and (min-width: $mdWidth){
        font-size: 100%;
        width: 60%;

        li{

    }

        #navActive, li:active, {
        border-bottom: 3px solid $brandColor;
        }
    }
    @media screen and (min-width: $lgWidth){
        margin-right: 6%;
        display:inline-block !important;
        font-size: 120%;
        margin: 0 8px;
        width: 40%;

        #navActive, li:hover, {
        border-bottom: 3px solid $brandColor;
        }
    }
}



#menuIcon-l{
    display: none;
}


@media screen and (max-width: $mdWidth){

    #menuIcon-l{
        display: block;
        float: right;
        color: $brandColor;
        margin-right: 3%;
        font-size: 2.5em;
    }

    #navList-l{
        display: none;
        float: right;
        clear: both;
        background-color: white;
        width: 65%;
        padding-top: 3%;
        padding: 10% 10% 10% 10%;
        border: 3px solid $brandColor;
        font-size: 90%;
    }

    #navList-l ul li{
        display: block;
        float: none;
        padding-top: 20px;
        font-size: 1.875em;

    }
}

// TABLET NAV FIX

@media screen and (max-width: 880px) {
  #logo-l {
    padding: 0;
    width: 200px;
  }
}

// FOOTER

#footer-l{
    width: 100%;
    z-index: +1;
    h4{
    color: $footerTop;
    text-shadow: none !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }
}

.footerTop-l{
    background-color: $footerTop;
    width: 100%;
    padding-bottom: 20px;
}

.footerContact-l{
    h4{
        color: white !important;
        text-shadow: none !important;
    }
    p{
        color: white;
        text-shadow: none;
    }
    @media screen and (max-width: $mdWidth){
        display: none;
    }

}

.footerSocialmedia-l{
    img{
        height: 35px;
    }
     @media screen and (max-width: $mdWidth){
        display: flex;
        float: left;
        height: 30px;
    }
}

.footer-buttons-l{
      @media screen and (max-width: $mdWidth){
       display: none;
    }
}

.footerList-l{

    li{
    list-style: none;
    color: black;
    a{
    color: $textColor;
      }
    @media screen and (min-width: $lgWidth){
        a:hover, {
       color: $brandColor;
        }
      }
    }
}

.footerBottom-l{
    background-color: $footerBottom;
    background-image: url("../images/footermotif.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


// GRID

.row-l {
    &::after{
        clear: both;
        display: block;
        content: '';
    }
}

.col-l {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

@for $i from 1 through $columns{
    .col#{$i}-l{
        width: $columnWidth * $i;
    }
    .offset#{$i}-l{
            margin-left:$columnWidth * $i;
    }
}

@media screen and (min-width: $mdWidth){
    @for $i from 1 through $columns{
        .colM#{$i}-l{
            width: $columnWidth * $i;
        }
        .offsetM#{$i}-l{
            margin-left:$columnWidth * $i;
        }
    }
}

@media screen and (min-width: $lgWidth){
    @for $i from 1 through $columns{
        .colL#{$i}-l{
            width: $columnWidth * $i;
        }
        .offsetL#{$i}-l{
            margin-left:$columnWidth * $i;
        }
    }
}

// CONTAINERS

#main-l{
    padding-top: 18%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 3%;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    @media screen and (min-width: $mdWidth){
     width: 75%;
    }
    @media screen and (min-width: $lgWidth){
    width: 80%;
    padding-top: 5%;
    }
}


// POSITIONING

.center-l{
    text-align: center;
    display:block;
    margin:0 auto;
}

.btn-center-home-l{
    text-align: center;
    display:block;
    margin:0 auto;
    @media screen and (min-width: $mdWidth){
    text-align: left;
    }
    @media screen and (min-width: $lgWidth){
    text-align: left;

    }
}

.btn-center-l{
    text-align: center;
    display:block;
    margin:0 auto;
}

.center-on-off-l{
    text-align: center;
    display:block;
    margin:0 auto;
 @media screen and (min-width: $mdWidth){
  text-align: right;
    }
  @media screen and (min-width: $lgWidth){
    text-align: left;
    margin:0;
    }
}

.right-l{
  a {
    float: none;
    @media screen and (min-width: $mdWidth){
    float: none;
    }
    @media screen and (min-width: $lgWidth){
    float: right;
    }
  }
}

.left-l{
  float: left;
}





// SIDENAV

.sidenav {
  margin: 0 auto;
  position: static;
  width: 40%;
  background: white;
  // overflow-x: hidden;
  margin-top: 8%;
  padding: 6px 0;
    @media screen and (min-width: $lgWidth){
    display: inline-block;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 15%;
    margin-left: 5%;
    margin-top: 5%;
    }
}

.sidenav a {
  padding: 15px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  color: $textColor;
  font-family: $text;
  display: block;
}

.sidenav-inner{
  border-top: 3px solid $brandColor;
  border-left: 3px solid $brandColor;
  border-right: 3px solid $brandColor;
  border-bottom: 0px;
}

 .sidenav-bottom{
  border-bottom: 3px solid $brandColor;
  border-radius: 0px 0px 5px 5px;
 }

 .sidenav-top{
  border-radius: 5px 5px 0px 0px;
 }

.main-sidenav {
  margin-left: 5%;
  width: 90%;
  padding: 4%;
  margin-right: 3%;
  margin-top: 5%;
  border-radius: 10px;
  border: solid 3px rgba(153, 51, 153, 0.63);

  p{
    color: $textColor;
    font-family: $text;
    font-size: 1.25em;
  }
  h3{
    text-align: left;
  }

    @media screen and (min-width: $lgWidth){
      margin-left: 25%;
      width: 68%;
      padding: 4%;
      margin-right: 3%;
      margin-top: 4%;
    }
}



// HIDE

@media all and (max-width: $mdWidth) {
.hide{
  display: none;
}
}
